<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Platforms</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/platforms']" routerLinkActive = "active" [routerLinkActiveOptions]="{exact:true}">All Platforms</a>
          </li>
          <li><a [routerLink]="['/platforms/new']" routerLinkActive = "active">Create platform</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="">Angular Connect</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <!-- <ul class="nav navbar-nav">
            <li>
              <a *ngIf="!authService.isAuthenticated()" [routerLink]="['/user/login']">Login</a>
              <a *ngIf="authService.isAuthenticated()" [routerLink]="['/user/profile']" routerLinkActive="active">Welcome {{authService.currentUser.firstName}}</a>
            </li>
          </ul> -->
        </div>
        <form id="searchForm" (ngSubmit)="searchCommands(searchTerm)" class="navbar-form navbar-right">
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control"
              placeholder="Search Commands">
          </div>
          <!-- modal-trigger is a directive, that can add new functionality to existing DOM elements. So here, we create a new directive called modal-trigger,
              that is triggered by the button. It will be in shared/directives/modal-trigger.directive.ts.
            The value of modal-trigger is the same as the elementId of the simple-modal it opens. The modal-trigger can then be passed
          in to the directive using an input parameter with the same name i.e. "modal-trigger" (See modal-trigger.directive.ts) -->
          <button class="btn btn-default" modal-trigger="searchResults">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>