<!-- sessions comes from the sessions input parameter defined in the SessionListComponent, and they are added to it in the eventDetails component html -->
<div class="row" *ngFor="let command of commands">
    <div class="col-md-10">
      <!-- The title added to the collapsible-well Component, using the title input parameter.
  The title can then be used in the collapsible-well Component html, and the output will be shown here in the app-session-list element -->
      <collapsible-well>
        <div well-title>
          {{command.howTo}}
        </div>
  
        <div well-body>
          <h6>Platform: {{command.promptPlatformName}}</h6><br />
          <span>Command line: {{command.line}}</span><br /><br />
          <div #container>
            <button ngxClipboard [cbContent]="command.line" [container]="container">Copy Command Line</button>
          </div>
          <br />
          <span>Comment:</span>
          <p>{{command.comment}}</p>
          <button type=button class="btn btn-primary"  (click)="deleteCommand(command)">Delete This Command</button>
        </div>
      </collapsible-well>
    </div>
  </div>