<div [routerLink]="['/platforms', platform.promptPlatformId]" class="well hoverwell thumbnail">
    <h2>{{platform?.promptPlatformName | uppercase}}</h2>
    <div>There are {{platform?.commandLineList.length}} commands for this platform</div>
    <!-- <div>Date: {{event?.date | date}}</div>
    <div [ngClass]="{green: event?.time === '8:00 am', bold: event?.time === '8:00 am'}" [ngSwitch]="event?.time">
        Time: {{event?.time}}
        <span *ngSwitchCase="'8:00 am'">(Early start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late start)</span>
        <span *ngSwitchDefault>(Normal start)</span>
    </div>
    <div>Price {{event?.price}}</div>
    <div *ngIf="event?.location">
        <span>Location: {{event?.location.address}}</span>
        <span class="pad-left">{{event?.location.city}}, {{event.location.country}}</span>
    </div> -->
</div>